<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RobotGrid</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="robotgrid">
                <span class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></span> RobotGrid
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="robot-scenario-runner">
                <span class="bi bi-play-circle" aria-hidden="true"></span> Robot Scenario Runner
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="route-builder">
                <span class="bi bi-bezier2" aria-hidden="true"></span> Route Builder
            </NavLink>
        </div>
    </nav>
</div>

